---
# tasks file for virtualbox: ubuntu.yml
- name: add virtualbox oracle apt keys
  become: yes
  apt_key: url="{{ item }}" state=present
  with_items: "{{ virtualbox_key_urls }}"
  tags: virtualbox

- name: add virtualbox repository
  become: yes
  apt_repository: repo="{{ virtualbox_repo }}" state=present mode="0644"
  tags: virtualbox

- name: install virtualbox
  become: yes
  apt: name="{{ virtualbox_pkg_name }}" state=present update_cache=yes
  tags: virtualbox

- name: install virtualbox dkms package
  become: yes
  apt: name="{{ virtualbox_dkms_pkg_name }}" state=present
  when: virtualbox_install_dkms
  tags: virtualbox_dkms
